<!-- <div *ngIf="logado"> -->
<img src="{{user.photoUrl}}" alt="">
<div>
    <h4>{{user.name}}</h4>
    <p>{{user.email}}</p>
</div>
<!-- </div> -->
<button   class="btn btn-social-icon btn-facebook mx-1" (click)="signInWithFacebook()">
    <span  class="fa fa-facebook"></span>
</button>