<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a  class="nav-item nav-link" rauterLink="/">Home</a>
    <a  class="nav-item nav-link" rauterLink="/login">Login</a>
    <a  class="nav-item nav-link" rauterLink="/register">Register</a>
  </div>
</nav>

<!-- main content container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
          <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

